<h2>Hold frequencies</h2>
For each grade, visualize which holds are used the most in the benchmark problem.

<h4>MoonBoard 2016</h4>
<div class=frame><img src="{{url_for('static', filename='MoonBoard 2016 _frequency_6B+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard 2016 _frequency_6C.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard 2016 _frequency_6C+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard 2016 _frequency_7A.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard 2016 _frequency_7A+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard 2016 _frequency_7B.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard 2016 _frequency_7B+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard 2016 _frequency_7C.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard 2016 _frequency_7C+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard 2016 _frequency_8A.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard 2016 _frequency_8A+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard 2016 _frequency_8B.png')}}" style="width: 50%;"/></div>

<h4>MoonBoard Masters 2017 40 degrees</h4>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2017 40_frequency_6A+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2017 40_frequency_6B.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2017 40_frequency_6B+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2017 40_frequency_6C.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2017 40_frequency_6C+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2017 40_frequency_7A.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2017 40_frequency_7A+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2017 40_frequency_7B.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2017 40_frequency_7B+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2017 40_frequency_7C.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2017 40_frequency_7C+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2017 40_frequency_8A.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2017 40_frequency_8A+.png')}}" style="width: 50%;"/></div>

<h4>MoonBoard Masters 2019 40 degrees</h4>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2019 40_frequency_6A+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2019 40_frequency_6B.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2019 40_frequency_6B+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2019 40_frequency_6C.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2019 40_frequency_6C+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2019 40_frequency_7A.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2019 40_frequency_7A+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2019 40_frequency_7B.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2019 40_frequency_7B+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2019 40_frequency_7C.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2019 40_frequency_7C+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2019 40_frequency_8A.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2019 40_frequency_8A+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='MoonBoard Masters 2019 40_frequency_8B.png')}}" style="width: 50%;"/></div>

<h4>Mini MoonBoard 2020 40 degrees</h4>
<div class=frame><img src="{{url_for('static', filename='Mini MoonBoard 2020 40_frequency_6A+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='Mini MoonBoard 2020 40_frequency_6B.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='Mini MoonBoard 2020 40_frequency_6B+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='Mini MoonBoard 2020 40_frequency_6C.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='Mini MoonBoard 2020 40_frequency_6C+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='Mini MoonBoard 2020 40_frequency_7A.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='Mini MoonBoard 2020 40_frequency_7A+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='Mini MoonBoard 2020 40_frequency_7B.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='Mini MoonBoard 2020 40_frequency_7B+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='Mini MoonBoard 2020 40_frequency_7C.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='Mini MoonBoard 2020 40_frequency_7C+.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='Mini MoonBoard 2020 40_frequency_8A.png')}}" style="width: 50%;"/></div>
<div class=frame><img src="{{url_for('static', filename='Mini MoonBoard 2020 40_frequency_8A+.png')}}" style="width: 50%;"/></div>
