<h2>BenchmarkProgress</h2>
Benchmark progression showing time and grade. Scatter plot of time v. accumulated number of benchmarks. This will show the general trend, good and bad spells e.g.

<h4>Moonboard 2016</h4>
<div class=frame><img src="{{url_for('static', filename='BenchmarkProgress_MoonBoard 2016 .png')}}" style="width: 50%;"/></div>

<h2>BenchmarkProgressPerGrade</h2>
Benchmark progression per grade. Step plot of time v. accumulated percentage of 
benchmarks, per grade. 

<h4>Moonboard 2016</h4>
<div class=frame><img src="{{url_for('static', filename='BenchmarkProgressPerGrade_MoonBoard 2016 .png')}}" style="width: 50%;"/></div>

<h2>Times</h2> What weekdays and times benchmarks have been logged
<div class=frame><img src="{{url_for('static', filename='Times.png')}}" style="width: 50%;"/></div>
