<h2>Moonboard plots (This is an alpha-version for debug purposes.)</h2>
<p>
  <span >Enter your moonboard credentials. We solemnly swear we will not steal them and use to up-grade any Riccardo Caprasecca problems.</span>
  <span style="color:#fff;">Though really we should!</span>
</p>

<form action="/data" method = "POST">
    <p>username<input type = "text" name = "username" /></p>
    <p>password<input type = "password" name = "password" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>

<p>To contribute to the project, see <a href="https://github.com/erikwallin86/moonboard-plots">https://github.com/erikwallin86/moonboard-plots</a></p>

<p>To see example plots, look <a href="example">here.</a></p>

